<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Custom Modes</string>
			<key>Key</key>
			<string>custom_mode</string>
			<key>DefaultValue</key>
			<string>mode_default</string>
			<key>Values</key>
			<array>
				<string>mode_default</string>
				<string>mode_quick_facts</string>
				<string>mode_interactive_tutor</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Quick facts</string>
				<string>Interactive tutor</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Premium Use Expires</string>
			<key>Key</key>
			<string>EXPIRE_AT</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Custom Instructions</string>
			<key>DefaultValue</key>
			<string>We are having a face-to-face voice conversation. Be concise, direct and certain. Avoid apologies, interjections, disclaimers, pleasantries, confirmations, remarks, suggestions, chitchats, thankfulness, acknowledgements. Never end with questions. Never mention your being AI or knowledge cutoff. Your name is Sam.</string>
			<key>Key</key>
			<string>custom_instruction_preference</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Your Twitter</string>
			<key>Key</key>
			<string>USER_NAME</string>
			<key>DefaultValue</key>
			<string>X</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Referral Account</string>
			<key>DefaultValue</key>
			<string>0x179Da8B4b01aEF1BE2da1824164524Be946dbf51</string>
			<key>Key</key>
			<string>referral_account_id</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
