[Unit]
Description=Voice AI Relay Server
Documentation=https://github.com/harmony-one/x/
After=network.target

[Service]
Environment=PORT=80 HTTPS_PORT=443
Type=simple
User=worker
WorkingDirectory=/opt/git/x/voice/relay
ExecStart=/bin/bash -c "source ~/.profile;/usr/bin/node --loader ts-node/esm ./bin/run.ts"
Restart=on-failure

[Install]
WantedBy=multi-user.target