OPENAI_KEY=
DEEPGRAM_KEY=
PLAYHT_KEY=
CORS=*
PORT=3000
HTTPS_PORT=8443
TEAM_ID=...
PACKAGE_NAME=...

SHARED_ENCRYPTION_SECRET="..."
SHARED_ENCRYPTION_IV="..."
OPENAI_DISTRIBUTED_KEYS='["...]'
BLOCKED_DEVICE_IDS='["d1","d2"]'

TOKEN_SEED="hello"